.tab-container {
	width: 90%;
	margin: auto;
}
.tabs {
	margin: 2rem 0 2rem 0;
}
.tab {
	padding: 0.5rem 1.5rem 0.5rem 1.5rem;
	font-weight: 500;
	letter-spacing: 0.1rem;
	cursor: pointer;
	border-top-right-radius: 0.5rem;
	border-top-left-radius: 0.5rem;

	display: block;
	margin-bottom: 1rem;
}
.tab:hover {
	background-color: lightgray;
}
a.tab {
	text-decoration: none;
}
.tab.active {
	background-color: gray;
	color: white;
}
.tab-content.hidden {
	display: none;
}

@media (min-width: 768px) { /* md */
	.tab {
		display: inline;
	}
}